{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'order.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#itemTable').DataTable();
        });
    </script>
{% endblock %}

{% block body %}

    <h1>Editing Order</h1>

    <p>Order for <b>{{ order.customerNumber }}</b></p>

    <p class="pull-right">
        <a class="btn btn-danger" href="{{ path('order_remove', {id: order.id}) }}">Remove Order</a>
    </p>

    {% if app.session.flashBag.peek('notice') is not empty %}
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul>
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <li>{{ flash_message }}</li>
                    {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="container">

        {{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}

        <div class="row">

            <div class="form-group">

                {{ form_widget(form.sku, {'attr': {'placeholder': 'SKU'} }) }}

            </div>

            <div class="form-group">

                {{ form_widget(form.quantity, {'attr': {'style': 'width:7em'} }) }}

            </div>

            <div class="form-group">

                {{ form_widget(form.add) }}        
                <a class="btn btn-default" href="{{ path('order_import', {id: order.id}) }}">Import from CSV</a>

            </div>

        </div>

        {{ form_end(form) }}

    </div>

    <br>

    <form action="{{ path('order_update_quantities', {id: order.id}) }}" method="post">

        <table id="itemTable" class="table">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Vendor</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items %}
                    <tr>
                        <td>{{ item.sku }}</td>
                        <td>{{ item.name }}</td>
                        <td><input class="form-control" type="text" name="quantity[{{ item.id }}]" value="{{ item.quantity }}" style="width:7em"></td>
                        <td>{{ item.vendor }}</td>
                        <td><a class="btn btn-xs btn-danger" href="{{ path('order_remove_item', {id: item.id}) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p><button class="btn btn-default" type="submit">Update Quantities</button></p>

    </form>

    <p><a href="{{ path('order_index') }}">Back</a></p>

{% endblock %}