{% extends 'order.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#customerTable').DataTable();
        });
    </script>
{% endblock %}

{% block body %}

    <h1>Customer Orders</h1>

    <table id="customerTable" class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Total Orders</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>
                        <a class="btn btn-xs btn-default" href="{{ path('customer_view', {customer: order.customer}) }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><a href="{{ path('order_index') }}">Back</a></p>

{% endblock %}
